extends layout

block content
	.centralizarBtn
		form(action='/Login/Google', method='GET')
			button#login Entrar com e-mail google
	.centralizarDeslogado
		h4 É necessário estar logado para acessar a página desejada.