extends layout

block content
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Campainha
        ul.nav.navbar-nav
          li
            a(href='/') Início
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown')
              | Usuário
              span.caret
            ul.dropdown-menu
              li
                a(href='/user/cadastrar') Cadastrar
              li
                a(href='/user/alterar') Alterar
              li
                a(href='/user/search') Buscar
          li.active
            a(href='/historic') Histórico
    section
      .container-fluid
        .row
          .col-sm-1
          .col-sm-6
            .panel.panel-default
              .panel-heading
                h3 Histórico de acesso
              .panel-body
                table.table.table-striped.table-bordered.table-hover.table-condensed
                  thead  
                    tr
                      td Data e hora
                      td Dispositivo
                      td Usuário
                  tbody
                    tr
                      td 15/07/2016 15:14:44
                      td Botão de saída
                      td Fulano
              .panel-footer
          .col-sm-4
            .switch
              input#button(type='checkbox')
              label
                i.icon-off
          .col-sm-1