extends layout

block content
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') WebSiteName
        ul.nav.navbar-nav
          li.active
            a(href='/') Início
          li
            a(href='/user/cadastrar') Usuários
          li
            a(href='/historic') Histórico
    section
      .switch
        input#button(type='checkbox')
        label
          i.icon-off
