extends layout

block content
	.switch
		input#button(type='checkbox')
		label
			i.icon-off
	
	button#signOut Deslogar
	p#usuarioInvalido
	script(src='https://apis.google.com/js/platform.js', async='', defer='')