extends layout

block content
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') WebSiteName
        ul.nav.navbar-nav
          li.active
            a(href='/') Início
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#') Usuários
            span.caret
            ul.dropdown-menu
              li
                a(href='/user/cadastrar') Cadastrar
              li
                a(href='/user/alterar') Alterar
              li
                a(href='/user/search') Buscar
          li
            a(href='/historic') Histórico
    section
      .switch
        input#button(type='checkbox')
        label
          i.icon-off
