doctype html
html
  head
    meta(name='viewport', content='width=device-width, intitial-scale=1')
    meta(name='google-signin-client_id', content='489399558653-rde58r2h6o8tnaddho7lathv2o135l7m.apps.googleusercontent.com')
    script(src='https://apis.google.com/js/platform.js', async='', defer='')
    title= title
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap/transition.js')
    script(src='/javascripts/bootstrap/dropdown.js')
    script(src='/javascripts/bootstrap/collapse.js')
    script(src='/javascripts/script.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
  body
    block content
