doctype html
html
  head
    title= title
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap/bootstrap.min.js')
    script(src='/javascripts/bootstrap/functions/transition.js')
    script(src='/javascripts/bootstrap/functions/dropdown.js')
    script(src='/javascripts/bootstrap/functions/collapse.js')
    script(src='/javascripts/script.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
