doctype html
html
  head
    meta(name='viewport', content='width=device-width, intitial-scale=1')
    title= title
    script(src='https://apis.google.com/js/platform.js', async='', defer='')
    meta(http-equiv='Cache-control', content='No-Cache')
    meta(name='google-signin-client_id', content='489399558653-enu1g23uf2gt1algid9pvfhn8n57tmqt.apps.googleusercontent.com')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap/transition.js')
    script(src='/javascripts/bootstrap/dropdown.js')
    script(src='/javascripts/bootstrap/collapse.js')
    script(src='/javascripts/script.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
  body
    block content