extends layout

block content
   nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Campainha
        ul.nav.navbar-nav
          li
            a(href='/') Início
          li
            a(href='/user/cadastrar') Cadastrar
          li
            a(href='/user/alterar') Alterar
          li
            a(href='/user/buscar') Buscar