extends layout

block content
   nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') WebSiteName
        ul.nav.navbar-nav.text-center
          li.active
            a(href='/') Início
          li
            a(href='/cadastrar') Cadastrar
          li
            a(href='/alterar') Alterar
          li
            a(href='/buscar') Buscar